.pdfview-container {
    overflow: scroll;
    max-width: 100vh;
    max-height: 100vh;
    position: relative;
}

.pdfview-pageContainer.pdfview-loading {
    background-color: lightseagreen;
}

.pdfview-pageContainer {
    border: 1px solid black;
    position: absolute;
}

#document-viewer {
    max-width: 650px;
    margin:auto;
}

body {
    background: darkslategrey;
}