.pdfview-container {
    overflow: scroll;
    position: relative;
}

.pdfview-pageContainer.pdfview-loading {
    background-color: lightseagreen;
    height: 100%;
}

.pdfview-pageContainer {
    position: absolute;
    min-height: 1px;
    min-width: 20px;
}

#document-viewer {
    max-width: 650px;
    height:800px;
    margin:auto;
    background-color:cyan;
}

body {
    background: darkslategrey;
}