.pdfviewer-container {
    overflow: scroll;
    max-width: 100vh;
    max-height: 100vh;
    height: 600px;
    position: relative;
}

.pdfviewer-pageContainer {
    position:absolute;
    border: 1px solid black;
}

#document-viewer {
    max-width: 650px;
    margin:auto;
}

body {
    background: darkslategrey;
}